*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Gilroy';
    overflow: hidden;

}
#main{
    height: 100%;
    width: 100%;
    background-color:rgb(255, 225, 185);
}
#main #nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
#nav #left{
    display: flex;
}
#nav #left h2{
    font-weight: 600;
    margin-right: 140px;
    color: brown;
} 
#nav a{
    text-decoration: none;
    color: brown;
}
#nav #right a{
    margin-left: 40px;
}
#main #bottom{
    position: absolute;
    bottom: 10px;
    display: flex;
}
#main #bottom i{
    font-size: 20px;
    margin-right: 8px;
    padding: 20px;
}
#main #middle #bc {
    font-size: 140px;
    position: absolute;
    font-weight: 500;
    top: 10%;
    left: 5%;
    color: rgb(226, 106, 106);
} 
#main #middle #mc {
    font-size: 140px;
    position: absolute;
    font-weight: 500;
    top: 30%;
    left: 5%;
    white-space: nowrap;
    color: rgb(226, 106, 106);
} 
#main #middle #bkl {
    font-size: 140px;
    position: absolute;
    font-weight: 500;
    top: 47%;
    right: -16%;
    color: rgb(226, 106, 106);

} 
#middle img{
    position: absolute;
    top: 10%;
    height: 49%;
    left: 2%;
    z-index: 9;
    border: 2px brown solid;
}
#middle #abc{
    position: absolute;
    top: 28%;
    height: 40%;
    z-index: 9;
    left: 70%;
}
#scroller p{
    position: absolute;
    top: 85%;
    left: 45%;
    letter-spacing: 5px;
}
#scroller #line{
    position: absolute;
    top: 77%;
    left: 50%;
    background-color: black;
    border-left: 1px brown solid;
    height: 8%;
}